ul { list-style-type: none;}
li { display: inline; margin-right: 20px; }
label { display: block;}
h1{text-align: center; font-size: 80px; margin-top: 1px;}
a{color:black; text-decoration: none;}

body{
    background: url('img/dark_wood.png') repeat;

    font-family: helvetica;
}
#mini_pic {
    float: left;
    margin-right: 5px;
    margin-top: 7px;
    width: 20px;
    height: 20px;
    background-color: #141414;
    box-shadow: inset 0px -5px 10px 0px #3a3a3a;
    box-shadow: 0 0 5px 1px #000;
}
#logo2 {
    width: 120px;
    float: left;
    margin-top: 3px;
    margin-left: 13%
}
#login a{
    font-weight:bold;
    color: #141414;
    text-shadow:1px 1px 0 #3a3a3a;
}
div#pagewrap {
    margin: 0 auto;
    margin-top: 60px;
    max-width: 880px;
    min-width: 400px;

}
div#top {
    float: left;
    display: block;
    position: fixed;
    height: 50px;
    width: 100%;
    top: 0px;
    left: 0px;
    background-image: url('img/top2.png') ;
}
div#login {
    float:right;
    margin-right: 13%;
    margin-top: 5px;
}
div#login a{
    font-size: 25px;
}
div#header {
    background-color: red;
    height: 100px;
    -moz-box-shadow: 0 0 20px 5px #000;
    -webkit-box-shadow: 0 0 20px 5px #000;
    box-shadow: 0 0 20px 5px #000;

}
#header img {
    margin-left: 30%;
    margin-top: 5px;
}
#nav a{
    font-size: 30px;
    font-family: impact;
}

div#posts1 {
    padding: 5px;
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 10px;
    background-color: lime;
    min-height: 150px;
    width: 410px;
    float: left;
    display: block;
    word-wrap: break-word;
    -moz-box-shadow: 0 0 20px 5px #000;
    -webkit-box-shadow: 0 0 20px 5px #000;
    box-shadow: 0 0 20px 5px #000;
}
div#posts2 {
    padding: 5px;
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 10px;
    background-color: cyan;
    min-height: 150px;
    width: 410px;
    float: left;
    display: block;
    word-wrap: break-word;
    -moz-box-shadow: 0 0 20px 5px #000;
    -webkit-box-shadow: 0 0 20px 5px #000;
    box-shadow: 0 0 20px 5px #000;
}
div#posts3 {
    padding: 5px;
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 10px;
    background-color: yellow;
    min-height: 150px;
    width: 410px;
    float: left;
    display: block;
    word-wrap: break-word;
    -moz-box-shadow: 0 0 20px 5px #000;
    -webkit-box-shadow: 0 0 20px 5px #000;
    box-shadow: 0 0 20px 5px #000;
}
div#posts4 {
    padding: 5px;
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 10px;
    background-color: violet;
    min-height: 150px;
    width: 410px;
    float: left;
    display: block;
    word-wrap: break-word;
    -moz-box-shadow: 0 0 20px 5px #000;
    -webkit-box-shadow: 0 0 20px 5px #000;
    box-shadow: 0 0 20px 5px #000;
}
div#posts5 {
    padding: 5px;
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 10px;
    background-color: pink;
    min-height: 150px;
    width: 410px;
    float: left;
    display: block;
    word-wrap: break-word;
    -moz-box-shadow: 0 0 20px 5px #000;
    -webkit-box-shadow: 0 0 20px 5px #000;
    box-shadow: 0 0 20px 5px #000;
}

#home{
    height: 40px; width: 205px;
    background-color: violet;
    text-align: center;
    margin-top: 20px;
    float: left;
    margin-right: 10px;
    -moz-box-shadow: 0 0 20px 5px #000;
    -webkit-box-shadow: 0 0 20px 5px #000;
    box-shadow: 0 0 20px 5px #000;
}
#addp{
    height: 40px; width: 205px;
    background-color: lime;
    text-align: center;
    margin-top: 20px;
    float: left;
    margin-right: 20px;
    margin-left: 10px;
    -moz-box-shadow: 0 0 20px 5px #000;
    -webkit-box-shadow: 0 0 20px 5px #000;
    box-shadow: 0 0 20px 5px #000;
}
#addc{
    height: 40px; width: 205px;
    background-color: blue;
    text-align: center;
    margin-top: 20px;
    float: left;
    margin-right: 10px;
    -moz-box-shadow: 0 0 20px 5px #000;
    -webkit-box-shadow: 0 0 20px 5px #000;
    box-shadow: 0 0 20px 5px #000;
}
#cat{
    height: 40px; width: 205px;
    background-color: yellow;
    text-align: center;
    margin-top: 20px;
    margin-left: 10px;
    float: left;
    -moz-box-shadow: 0 0 20px 5px #000;
    -webkit-box-shadow: 0 0 20px 5px #000;
    box-shadow: 0 0 20px 5px #000;

}
#blabla {
    padding-bottom: 20px;
    margin-top: 20px;
    background-color: pink;
    min-height: 300px;
    width: 100%;
    float: left;
    display: block;
    word-wrap: break-word;
    -moz-box-shadow: 0 0 20px 5px #000;
    -webkit-box-shadow: 0 0 20px 5px #000;
    box-shadow: 0 0 20px 5px #000;
}
#editpost {
    padding-bottom: 20px;
    margin-top: 20px;
    background-color: pink;
    min-height: 150px;
    width: 100%;
    float: left;
    display: block;
    word-wrap: break-word;
    -moz-box-shadow: 0 0 20px 5px #000;
    -webkit-box-shadow: 0 0 20px 5px #000;
    box-shadow: 0 0 20px 5px #000;
}
#center {
    margin-left: 230px;
}
#footer {
    margin-top: 20px;
    height: 70px;
    width: 100%;
    background-color: red;
    -moz-box-shadow: 0 0 20px 5px #000;
    -webkit-box-shadow: 0 0 20px 5px #000;
    box-shadow: 0 0 20px 5px #000;
    float: left;
}
#cate1  {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    float: left;
    display: block;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: red;
    -moz-box-shadow: 0 0 20px 5px #000;
    -webkit-box-shadow: 0 0 20px 5px #000;
    box-shadow: 0 0 20px 5px #000;
}
#cate2  {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    float: left;
    display: block;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: cyan;
    -moz-box-shadow: 0 0 20px 5px #000;
    -webkit-box-shadow: 0 0 20px 5px #000;
    box-shadow: 0 0 20px 5px #000;
}
#cate3  {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    float: left;
    display: block;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: blue;
    -moz-box-shadow: 0 0 20px 5px #000;
    -webkit-box-shadow: 0 0 20px 5px #000;
    box-shadow: 0 0 20px 5px #000;
}
#cate4  {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    float: left;
    display: block;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: yellow;
    -moz-box-shadow: 0 0 20px 5px #000;
    -webkit-box-shadow: 0 0 20px 5px #000;
    box-shadow: 0 0 20px 5px #000;
}
#cate5  {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    float: left;
    display: block;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: purple;
    -moz-box-shadow: 0 0 20px 5px #000;
    -webkit-box-shadow: 0 0 20px 5px #000;
    box-shadow: 0 0 20px 5px #000;
}
#meny {
    margin-left: 100px;
}
.delete a{
    color:red;
    font-size: 12px;
}
.edit a{
    color:grey;
    font-size: 12px;
}